</main>

        <div class="container clearfix">
            <footer class="footer">
                <div class="row">
                    <div class="col-sm-2 hidden-xs">
                        <ul class="column column-1" data-v-edit-region="Link List 1">
                            <li class="column__title">About Us</li>
                            <li><a href="/aboutus.asp" title="About www.expressmedals.com">Company Info</a></li>
                            <li><a href="/Articles.asp?ID=238" title="Contact www.expressmedals.com">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <ul class="column column-2" data-v-edit-region="Link List 2">
                            <li class="column__title">My Account</li>
                            <li><a href="/shoppingcart.asp" title="View Cart">View Cart</a></li>
                            <li><a href="/login.asp" title="Sign In">Sign In</a></li>
                            <li><a href="/orders.asp" title="Order Status">Order Status</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <ul class="column column-3" data-v-edit-region="Link List 3">
                            <li class="column__title">Products</li>
                            <li><a href="/cindex.asp" title="Category Index">Category Index</a></li>
                            <li><a href="/productslist.asp" title="Product Index">Product Index</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <ul class="column column-4" data-v-edit-region="Link List 4">
                            <li class="column__title">Helpful Info</li>
                            <li><a href="/help.asp" title="Help Desk">Help Desk</a></li>
                            <li><a href="/terms_privacy.asp" title="Privacy Policy">Privacy Policy</a></li>
                            <li><a href="/terms.asp" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="elist">
                            <div class="elist__title">Join Our Mailing List</div>
                            <form name="MailingList" method="post" action="/mailinglist_subscribe.asp">
                                <input type="text" class="form-control elist__input" name="emailaddress" value="" placeholder="Email Address" />
                                <button type="submit" name="Submit" class="elist__submit" value="Subscribe">
                                    <span class="icon icon-caret-right"></span>
                                </button>
                            </form>
                        </div> <!-- .elist -->
                        <div class="social">
                            <span class="social__title">Connect with Us!</span>
                            <a href="https://www.facebook.com/Expressmedalscom?ref=hl" target="_blank">
                                <span class="icon">
                                    <img src="/v/vspfiles/templates/253/images/template/facebook.png" width="21" height="22" alt="Facebook">
                                </span>
                            </a>
                            <a href="https://twitter.com/_Expressmedals">
                                <span class="icon">
                                    <img src="/v/vspfiles/templates/253/images/template/twitter.png" width="21" height="21" alt="Twitter">
                                </span>
                            </a>
                            <a href="http://www.pinterest.com/volusion/" target="_blank">
                                <span class="icon">
                                    <img src="/v/vspfiles/templates/253/images/template/pinterest.png" width="21" height="20" alt="Pinterest">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-xs">
                    <div class="panel-group" id="footer-collapse">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#footer-collapse" href="#link-col-1">
                                        About Us
                                    </a>
                                </h4>
                            </div>
                            <div id="link-col-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="column column-1">
                                        <li><a href="/aboutus.asp" title="About www.expressmedals.com">Company Info</a></li>
                                        <li><a href="mailto:steve@expressmedals.com?Subject=Contact%20Us" title="Contact www.expressmedals.com">Contact Us</a></li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#footer-collapse" href="#link-col-2">
                                        My Account
                                    </a>
                                </h4>
                            </div>
                            <div id="link-col-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="column column-1">
                                        <li><a href="/shoppingcart.asp" title="View Cart">View Cart</a></li>
                                        <li><a href="/login.asp" title="Sign In">Sign In</a></li>
                                        <li><a href="/orders.asp" title="Order Status">Order Status</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#footer-collapse" href="#link-col-3">
                                        Products
                                    </a>
                                </h4>
                            </div>
                            <div id="link-col-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="column column-1">
                                        <li><a href="/cindex.asp" title="Category Index">Category Index</a></li>
                                        <li><a href="/productslist.asp" title="Product Index">Product Index</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#footer-collapse" href="#link-col-4">
                                        Helpful Info
                                    </a>
                                </h4>
                            </div>
                            <div id="link-col-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="column column-1">
                                        <li><a href="/help.asp" title="Help Desk">Help Desk</a></li>
                                        <li><a href="/terms_privacy.asp" title="Privacy Policy">Privacy Policy</a></li>
                                        <li><a href="/terms.asp" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix copyright">
                    <a href="javascript:void(0);" onClick="window.open('https://www.volusion.com/ssl.asp?url=www.Expressmedals.com', 'VolusionSSL', 'top=10,left=10,menubar=0,resizable=0,scrollbars=0,width=467,height=467')" class="copyright__item">
                        <img src="/v/vspfiles/templates/253/images/template/vsecure.png" alt="" width="100" height="33">
                    </a>
                    <span class="icon icon--cc copyright__item">
                        <img src="/v/vspfiles/templates/253/images/template/cc.png" alt="" width="183" height="20">
                    </span>
                    <span class="copyright__text">
                        <a href="/terms.asp" title="Terms">Copyright &copy; <span class="insertYear">2013</span>&nbsp;www.expressmedals.com. All Rights Reserved.</a>

                        

                        <!-- Built with <a href="http://www.volusion.com" target="_blank" rel="nofollow">Volusion</a>. -->
                    </span>
                </div>
            </footer>
        </div>

        <script src="/v/vspfiles/templates/253/js/jquery-1.11.1.min.js"></script>

        <script type="text/javascript">
            var $jQueryModern = jQuery.noConflict(true);
        </script>

        <script src="/v/vspfiles/templates/253/js/bootstrap.min.js"></script>
        <script src="/v/vspfiles/templates/253/js/push-menu/classie.js"></script>

        <script>
            $jQueryModern(document).ready(function(){   

                /* FOOTER COLLAPSE */
                $jQueryModern('#footer-collapse').on('shown', function () {
                   $jQueryModern(".icon-chevron-down").removeClass("icon-chevron-down").addClass("icon-chevron-up");
                });

                $jQueryModern('#footer-collapse').on('hidden', function () {
                   $jQueryModern(".icon-chevron-up").removeClass("icon-chevron-up").addClass("icon-chevron-down");
                });

                /* SEARCH POPOVER */
                $jQueryModern('[data-toggle="popover"]').popover();
                $jQueryModern('body').on('click', function (e) {
                    $jQueryModern('[data-toggle="popover"]').each(function () {
                        if (!$jQueryModern(this).is(e.target) && $jQueryModern(this).has(e.target).length === 0 && $jQueryModern('.popover').has(e.target).length === 0) {
                            $jQueryModern(this).popover('hide');
                        }
                    });
                });
            });

        </script>

        <script>
            var menuLeft = document.getElementById( 'push-menu' ),
                showLeftPush = document.getElementById( 'showLeftPush' ),
                body = document.body;
         

        showLeftPush.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( body, 'cbp-spmenu-push-toright' );
            classie.toggle( menuLeft, 'cbp-spmenu-open' );
            disableOther( 'showLeftPush' );
        };
         
        function disableOther( button ) {
            if( button !== 'showLeftPush' ) {
                classie.toggle( showLeftPush, 'disabled' );
            }
        }
        </script>
    

        <!-- Google Analytics: change UA-18235932-1 to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-18235932-1');ga('send','pageview');
        </script>
    <!-- begin Volusion Live Chat code -->
<script type="text/javascript">
  (function() {
    var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
    se.src = '//commondatastorage.googleapis.com/volusionchat/js/7c81e466-a06c-4fef-92df-90ee9ebc7acb.js';
    var done = false;
    se.onload = se.onreadystatechange = function() {
      if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
        done = true;
        /* Place your Volusion Live Chat JS API code below */
        /* VolusionChat.allowChatSound(true); Example JS API: Enable sounds for Visitors. */
      }
    };
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
  })();
</script>
<!-- end Volusion Live Chat code -->
<script type="text/javascript"> 
adroll_adv_id = "TVDBJE7XZ5CUHCF3GVJ2JD"; 
adroll_pix_id = "AJ5D7RF5LBG3NAHDWTQ7A6"; 
(function () { 
var oldonload = window.onload; 
window.onload = function(){ 
   __adroll_loaded=true; 
   var scr = document.createElement("script"); 
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com"); 
   scr.setAttribute('async', 'true'); 
   scr.type = "text/javascript"; 
   scr.src = host + "/j/roundtrip.js"; 
   ((document.getElementsByTagName('head') || [null])[0] || 
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr); 
   if(oldonload){oldonload()}}; 
}()); 
</script>

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1005520981;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1005520981/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"4031072"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=/r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>

<input type="hidden" id="engravingStatus" value="0" name="engravingStatus">

<!--Start: 360Degree View -->

<div id="360view" class="well" style="display:none">
  <div class="modal-header">
    <a href="javascript:;" aria-label="Close" data-dismiss="modal" class="360view_close  close_1" type="button"><span aria-hidden="true"><img src="/v/vspfiles/images/close.png" alt="" width="17" height="17"></span></a>
    <h4>360&deg; View</h4>
  </div>
  <div class="spinnng_inner"> </div>
</div>
<script>
$(document).ready(function () {

   $('#360view').popup({
        pagecontainer: '.container',
        transition: 'all 0.3s'
    });

});

$jQueryModern(document).ready(function(e) {
      var doog= $jQueryModern('#mediafarmplugin').nextAll('br').remove();
	//$jQueryModern('#altviews').after('<div class="inserted_div"></div>');
	$jQueryModern('#mediafarmplugin').next('a').appendTo('.inserted_div');
	$jQueryModern('#mediafarmplugin').next('table').appendTo('.inserted_div');
	$jQueryModern('#product_photo_zoom_url').wrap('<div id="product_div">');
	
	if( $jQueryModern('#mediafarmplugin').length == 1 )
		{
			$jQueryModern('#product_div .spining').remove();
			$jQueryModern('#product_div').hide();
		}
	
    if ($jQueryModern('#spinID').length == 1) {
        $jQueryModern('#mediafarmplugin, #product_div').append("<span class='spining'><a class=\"initialism 360view_open\"  href=\"#360view\"><img src='http://expressmedals.com/v/vspfiles/templates/253/images/360_view_icon.png'></a></span>");
        $jQueryModern('#spinID').appendTo('.spinnng_inner');
		
		//Michael Holroyd CODE
                var spinUrl = $jQueryModern("#spinID").attr("src"); 
                var currentWidth = Math.min( $(window).width(), $(window).height() );
		var mobilespin = false;
                if(currentWidth <= 400) {
			$jQueryModern("#spinID").height(200).width(200).attr("src",spinUrl+"&s="+200);
			mobilespin = true;
		  } else {
			$jQueryModern("#spinID").height(465).width(465).attr("src",spinUrl+"&s="+465);
			mobilespin = false;
		  }
		
		window.onresize = function(e){
		  var currentWidth = Math.min( $(e.target).width(), $(e.target).height() );
		  if(!mobilespin && currentWidth <= 400) {
			$jQueryModern("#spinID").height(200).width(200).attr("src",spinUrl+"&s="+200);
			mobilespin = true;
		  } else if(mobilespin && currentWidth > 400) {
			$jQueryModern("#spinID").height(465).width(465).attr("src",spinUrl+"&s="+465);
			mobilespin = false;
		  }
		}
		//Michael Holroyd CODE
    }
});
</script> 

<!--End: 360Degree View --> 
<!-- BEGIN: Google Trusted Stores -->
<script type="text/javascript">
  var gts = gts || [];

  gts.push(["id", "705911"]);
  gts.push(["badge_position", "BOTTOM_RIGHT"]);
  gts.push(["locale", "PAGE_LANGUAGE"]);
  gts.push(["google_base_offer_id", "ITEM_GOOGLE_SHOPPING_ID"]);
  gts.push(["google_base_subaccount_id", "ITEM_GOOGLE_SHOPPING_ACCOUNT_ID"]);

  (function() {
    var gts = document.createElement("script");
    gts.type = "text/javascript";
    gts.async = true;
    gts.src = "https://www.googlecommerce.com/trustedstores/api/js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(gts, s);
  })();
</script>
<!-- END: Google Trusted Stores -->



<script type="text/javascript">function store_init(event){protect_images1();} AttachEvent(window, 'load', store_init);</script>

<script language=JavaScript type="text/javascript">
	function_protect_images2_msg = 'Sorry, our images are copyrighted.'
	protect_images1();
</script>

<script type="text/javascript">
	if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
		jQuery(document).ready(function() {
			jQuery('a').each(AddCartLink)
		});
	}
</script>

</body>
</html>